scratchwork
scratchwork/*
environment
environment/*
*_SOLUTIONS.ipynb
.ipynb_checkpoints
.ipynb_checkpoints/*
.DS_Store
.DS_Store/*
output_*
synthea*
venv
venv/*
convert_data_to_parquet.py
generate_patients.sh
Dockerfile
synth_data_venv
synth_data_venv/*
